@font-face {
  src: url("../fonts/syne/Syne-Regular.otf");
  font-family: regular;
}

@font-face {
  src: url("../fonts/syne/Syne-Mono.otf");
  font-family: mono;
}

@font-face {
  src: url("../fonts/syne/Syne-Italic.otf");
  font-family: 'italic';
}

@font-face {
  src: url("../fonts/syne/Syne-Extra.otf");
  font-family: extra;
}

@font-face {
  src: url("../fonts/syne/Syne-Bold.otf");
  font-family: 'bold';
}

/* line 4, ../../Documents/GitHub/dedukh/sass/style.sass */
* {
  box-sizing: border-box;
}

/* line 7, ../../Documents/GitHub/dedukh/sass/style.sass */
html {
  font-size: 62.5%;
}

/* line 9, ../../Documents/GitHub/dedukh/sass/style.sass */
body {
  font-family: regular;
  color: #000000;
}

/* line 12, ../../Documents/GitHub/dedukh/sass/style.sass */
p, h1, h2 {
  margin: 0;
  color: #000000;
}

/* line 16, ../../Documents/GitHub/dedukh/sass/style.sass */
h1, h2 {
  font-family: 'bold';
}

/* line 19, ../../Documents/GitHub/dedukh/sass/style.sass */
.border {
  border: 1px solid black;
}

/* line 21, ../../Documents/GitHub/dedukh/sass/style.sass */
.border-r {
  border: 1px solid red;
}

/* line 26, ../../Documents/GitHub/dedukh/sass/style.sass */
.section {
  position: relative;
  padding: 6rem 3.2rem;
  overflow: hidden;
}

/* line 30, ../../Documents/GitHub/dedukh/sass/style.sass */
.section__title {
  font-family: 'bold';
  color: #000000;
  font-weight: bold;
  font-size: 6rem;
  line-height: 8rem;
  width: min-content;
  display: inline-flex;
  align-items: flex-end;
}

/* line 39, ../../Documents/GitHub/dedukh/sass/style.sass */
.section__chat-ic {
  position: absolute;
}

/* line 42, ../../Documents/GitHub/dedukh/sass/style.sass */
.container {
  display: flex;
  justify-content: center;
  border: 1px solid red;
}

/* line 46, ../../Documents/GitHub/dedukh/sass/style.sass */
.container__row {
  width: max-content;
  border: 1px solid black;
}

/* line 52, ../../Documents/GitHub/dedukh/sass/style.sass */
.spec-border, .spec-border-t1 {
  border: 1rem solid transparent;
  border-image: url("../img/spec-border-square.svg") 30 round;
  border-image-outset: 0.6rem;
  box-shadow: 0 0 0 2px #000000;
  position: relative;
}

/* line 58, ../../Documents/GitHub/dedukh/sass/style.sass */
.spec-border::before, .spec-border-t1::before {
  content: '';
  display: block;
  height: 2.2rem;
  width: 2.2rem;
  background: url("../img/mouse-icon.svg");
  background-size: cover;
  position: absolute;
}

/* line 68, ../../Documents/GitHub/dedukh/sass/style.sass */
.spec-border::before {
  bottom: -3rem;
  right: -3rem;
}

/* line 1, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
#cv {
  background: #5162FF;
}

/* line 9, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.container__item {
  margin-bottom: 6rem;
}

/* line 11, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.container__item:nth-child(1) {
  z-index: 0;
}

/* line 13, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.container__item:nth-child(2) {
  z-index: 1;
}

/* line 15, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.container__item:nth-child(3) {
  z-index: 2;
}

/* line 18, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.my-cv {
  background: white;
  max-width: 28.5rem;
  border: 2px solid #000000;
  display: flex;
  flex-direction: column;
}

/* line 24, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.my-cv__header {
  border-bottom: 2px solid #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.3rem 0 2.5rem;
}

/* line 30, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.my-cv__heading {
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-family: 'bold';
  font-weight: bold;
}

/* line 37, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.my-cv__body {
  padding: 1.7rem 0 2.3rem;
  position: relative;
  overflow: hidden;
}

/* line 41, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.my-cv__text {
  font-size: 1.6rem;
  line-height: 3.2rem;
  position: relative;
  padding: 0 1.7rem;
  z-index: 2;
}

/* line 48, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.my-cv .mark {
  position: absolute;
  background: #FFC700;
  width: 99.6%;
  height: 3.2rem;
  z-index: 1;
  left: 0.5px;
}

/* line 55, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.my-cv .mark:nth-child(2) {
  top: 5rem;
}

/* line 57, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.my-cv .mark:last-child {
  width: 16.5rem;
  top: 8rem;
}

@media screen and (min-width: 20em) {
  /* line 57, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
  .my-cv .mark:last-child {
    width: 7.5rem;
  }
}

/* line 64, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.skill-tags {
  padding: 1.1rem -2.5rem 5.2rem;
  display: flex;
  flex-wrap: wrap;
  background: transparent;
  position: relative;
  transform: scale(1.06, 1.01);
}

/* line 71, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.skill-tags__tag {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000000;
  background: white;
  margin: 0.8rem;
  flex: 1 0 auto;
  width: max-content;
  height: 3.6rem;
}

/* line 81, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.skill-tags__tag.rotated {
  transform: rotate(0.95deg);
}

/* line 83, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.skill-tags__tag:last-child {
  margin-bottom: 2.2rem;
}

/* line 86, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.skill-tags__tag-name {
  width: max-content;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-family: 'bold';
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

/* line 94, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.skill-tags__tag-name:before, .skill-tags__tag-name.figma::after {
  content: '';
  width: 1.393rem;
  height: 1.118rem;
  background: url("../../img/check-ic.svg") center;
  background-size: cover;
  display: block;
  margin-right: 1rem;
  order: 2;
}

/* line 104, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.skill-tags__tag-name.figma::after {
  width: 0.918rem;
  height: 1.376rem;
  background: url("../../img/figma-ic.svg") center;
  margin-right: 0.6rem;
  order: 1;
}

/* line 114, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.spec-border-t1::before {
  height: 1.44rem;
  width: 1.44rem;
  background: url("../img/mouse-icon-1.svg");
  top: -3rem;
  left: -0.5rem;
}

/* line 123, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.skill-badges {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -6.5rem;
}

/* line 129, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.skill-badge {
  margin-bottom: 1.9rem;
  background: white;
  border: 2px solid #000000;
  width: 25.5rem;
  padding: 1.8rem 2.9rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* line 131, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.skill-badge:last-child {
  margin-bottom: 0;
}

/* line 141, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.skill-badge__title, .skill-badge__add-info {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-bottom: 1.6rem;
}

/* line 146, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.skill-badge__skill-name {
  font-family: 'bold';
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

/* line 153, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.skill-badge__add-info {
  margin-bottom: 0;
}

/* line 155, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.skill-badge__diagram {
  margin-right: 2.4rem;
}

/* line 157, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.skill-badge__diagram svg {
  height: 4.5rem;
  width: 4.5rem;
  position: relative;
  border: 1px solid black;
}

/* line 162, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.skill-badge__diagram svg circle {
  position: absolute;
  top: 0;
  left: 0;
  stroke-width: 2;
  fill: transparent;
}

/* line 168, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.skill-badge__diagram svg circle:first-child {
  stroke: #DFE3FF;
  z-index: 1;
}

/* line 171, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.skill-badge__diagram svg circle:last-child {
  stroke: #435CFC;
  z-index: 2;
  stroke-dashoffset: 0;
  stroke-dasharray: calc(45 * 125.6 / 100) 169.56;
  transform-origin: center;
  transform: rotate(90deg);
}

/* line 178, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.skill-badge--language.skill-badge {
  padding: 1.6rem 0;
  justify-content: center;
}

/* line 181, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.skill-badge--language.skill-badge__title {
  margin-bottom: 0.844rem;
}

/* line 183, ../../Documents/GitHub/dedukh/sass/sections/_cv.sass */
.skill-badge--language.skill-badge__skill-name {
  margin-bottom: 0rem;
}

/* line 2, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
#principles.section {
  padding-bottom: 0;
  padding-left: 3.4rem;
  padding-right: 3.4rem;
}

@media screen and (min-width: 48em) {
  /* line 2, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
  #principles.section {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }
}

@media screen and (min-width: 62.5em) {
  /* line 2, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
  #principles.section {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

@media screen and (min-width: 75.87em) {
  /* line 2, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
  #principles.section {
    padding-left: 7.7rem;
    padding-right: 7.7rem;
  }
}

@media screen and (min-width: 87.5em) {
  /* line 2, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
  #principles.section {
    padding-top: 16rem;
    padding-bottom: 16rem;
  }
}

/* line 19, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
#principles .section__title {
  margin-bottom: 6rem;
}

@media screen and (min-width: 34.5em) {
  /* line 19, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
  #principles .section__title {
    width: max-content;
  }
}

@media screen and (min-width: 62.5em) {
  /* line 19, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
  #principles .section__title {
    font-size: 9rem;
    margin-bottom: 11rem;
    line-height: 7.5rem;
  }
}

@media screen and (min-width: 87.5em) {
  /* line 19, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
  #principles .section__title {
    font-size: 12rem;
    line-height: 13rem;
    margin-bottom: 12.1rem;
  }
}

/* line 31, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
#principles .section__title.ic::after {
  content: '';
  display: block;
  width: 9.4rem;
  height: 8.4rem;
  background: url("../../img/principles__title.png") center no-repeat;
  background-size: cover;
  margin-left: -2rem;
}

@media screen and (min-width: 34.5em) {
  /* line 31, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
  #principles .section__title.ic::after {
    margin-left: 2rem;
    width: 7.4rem;
    height: 8.4rem;
  }
}

@media screen and (min-width: 62.5em) {
  /* line 31, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
  #principles .section__title.ic::after {
    width: 8.4rem;
  }
}

@media screen and (min-width: 87.5em) {
  /* line 31, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
  #principles .section__title.ic::after {
    margin-left: 2.6rem;
    width: 12.4rem;
    height: 13.4rem;
  }
}

/* line 49, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
#principles .container {
  display: flex;
  justify-content: center;
}

/* line 52, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
#principles .container__row {
  width: max-content;
}

@media screen and (min-width: 48em) {
  /* line 52, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
  #principles .container__row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 65.4rem;
  }
}

@media screen and (min-width: 62.5em) {
  /* line 52, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
  #principles .container__row {
    max-width: 76.75rem;
  }
}

@media screen and (min-width: 75.87em) {
  /* line 52, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
  #principles .container__row {
    max-width: 83.5rem;
  }
}

@media screen and (min-width: 87.5em) {
  /* line 52, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
  #principles .container__row {
    max-width: 107.7rem;
  }
}

/* line 65, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
#principles .container__item {
  margin-bottom: 6rem;
  max-width: 26rem;
}

@media screen and (min-width: 62.5em) {
  /* line 65, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
  #principles .container__item {
    margin: 0;
    max-width: 30rem;
  }
}

@media screen and (min-width: 87.5em) {
  /* line 65, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
  #principles .container__item {
    min-width: 45.9rem;
  }
}

/* line 76, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
.principle__tag {
  color: rgba(0, 0, 0, 0.1);
  font-family: 'bold';
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.9rem;
  margin-bottom: .8rem;
}

@media screen and (min-width: 62.5em) {
  /* line 76, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
  .principle__tag {
    font-size: 3rem;
    line-height: 4.8rem;
  }
}

@media screen and (min-width: 87.5em) {
  /* line 76, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
  .principle__tag {
    font-size: 4rem;
    line-height: 4.8rem;
    margin-bottom: 1rem;
  }
}

/* line 91, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
.principle__moto {
  font-family: 'bold';
  font-weight: bold;
  font-size: 5rem;
  line-height: 8rem;
  margin-bottom: 1.2rem;
}

@media screen and (min-width: 62.5em) {
  /* line 91, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
  .principle__moto {
    font-size: 7rem;
    line-height: 9rem;
  }
}

@media screen and (min-width: 87.5em) {
  /* line 91, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
  .principle__moto {
    font-size: 10rem;
    line-height: 13rem;
    margin-bottom: 1rem;
  }
}

/* line 105, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
.principle__descr {
  font-size: 1.6rem;
  line-height: 3.5rem;
  letter-spacing: 0.03rem;
}

@media screen and (min-width: 62.5em) {
  /* line 105, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
  .principle__descr {
    line-height: 4rem;
  }
}

@media screen and (min-width: 87.5em) {
  /* line 105, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
  .principle__descr {
    font-size: 2.4rem;
    line-height: 6rem;
  }
}

/* line 1, ../../Documents/GitHub/dedukh/sass/sections/_lets-talk.sass */
#lets-talk {
  background: #FFC700;
  padding-bottom: 15.2rem;
}

@media screen and (min-width: 43em) {
  /* line 1, ../../Documents/GitHub/dedukh/sass/sections/_lets-talk.sass */
  #lets-talk {
    padding-top: 11rem;
    padding-left: 6rem;
    padding-right: 12rem;
    padding-bottom: 9.7rem;
  }
}

@media screen and (min-width: 58.75em) {
  /* line 1, ../../Documents/GitHub/dedukh/sass/sections/_lets-talk.sass */
  #lets-talk {
    padding-top: 11.2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 9.7rem;
  }
}

@media screen and (min-width: 75.87em) {
  /* line 1, ../../Documents/GitHub/dedukh/sass/sections/_lets-talk.sass */
  #lets-talk {
    padding-top: 13.4rem;
    padding-left: 10.7rem;
    padding-right: 12rem;
    padding-bottom: 10.9rem;
  }
}

@media screen and (min-width: 87.5em) {
  /* line 1, ../../Documents/GitHub/dedukh/sass/sections/_lets-talk.sass */
  #lets-talk {
    padding-left: 12.7rem;
  }
}

/* line 26, ../../Documents/GitHub/dedukh/sass/sections/_lets-talk.sass */
#lets-talk .section__title {
  width: auto;
  max-width: 24rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 43em) {
  /* line 26, ../../Documents/GitHub/dedukh/sass/sections/_lets-talk.sass */
  #lets-talk .section__title {
    font-size: 8rem;
    max-width: 28rem;
    line-height: 10rem;
  }
}

@media screen and (min-width: 75.87em) {
  /* line 26, ../../Documents/GitHub/dedukh/sass/sections/_lets-talk.sass */
  #lets-talk .section__title {
    font-size: 10rem;
    line-height: 11rem;
    max-width: 34rem;
  }
}

@media screen and (min-width: 87.5em) {
  /* line 26, ../../Documents/GitHub/dedukh/sass/sections/_lets-talk.sass */
  #lets-talk .section__title {
    font-size: 12rem;
    line-height: 13rem;
    max-width: 38rem;
  }
}

/* line 43, ../../Documents/GitHub/dedukh/sass/sections/_lets-talk.sass */
#lets-talk .section__chat-ic {
  bottom: 2.4rem;
  right: 3.4rem;
}

@media screen and (min-width: 43em) {
  /* line 43, ../../Documents/GitHub/dedukh/sass/sections/_lets-talk.sass */
  #lets-talk .section__chat-ic {
    bottom: 3.4rem;
    right: 4.4rem;
    height: 12%;
  }
}

@media screen and (min-width: 75.87em) {
  /* line 43, ../../Documents/GitHub/dedukh/sass/sections/_lets-talk.sass */
  #lets-talk .section__chat-ic {
    height: 13%;
    bottom: 5.4rem;
    right: 9.4rem;
  }
}

@media screen and (min-width: 87.5em) {
  /* line 43, ../../Documents/GitHub/dedukh/sass/sections/_lets-talk.sass */
  #lets-talk .section__chat-ic {
    bottom: 5.5rem;
    right: 11.5rem;
  }
}

/* line 1, ../../Documents/GitHub/dedukh/sass/sections/_footer.sass */
#footer {
  padding: 4rem 0 7.2rem;
}

@media screen and (min-width: 24.75em) {
  /* line 1, ../../Documents/GitHub/dedukh/sass/sections/_footer.sass */
  #footer {
    padding: 4rem 0 16.2rem;
  }
}

@media screen and (min-width: 43em) {
  /* line 1, ../../Documents/GitHub/dedukh/sass/sections/_footer.sass */
  #footer {
    padding: 6rem 0 11.2rem;
  }
}

@media screen and (min-width: 58.25em) {
  /* line 1, ../../Documents/GitHub/dedukh/sass/sections/_footer.sass */
  #footer {
    padding: 13.5rem 0;
  }
}

/* line 9, ../../Documents/GitHub/dedukh/sass/sections/_footer.sass */
.footer__links-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 58.25em) {
  /* line 9, ../../Documents/GitHub/dedukh/sass/sections/_footer.sass */
  .footer__links-wrap {
    flex-direction: row;
    justify-content: center;
  }
}

/* line 17, ../../Documents/GitHub/dedukh/sass/sections/_footer.sass */
.footer__link {
  font-family: 'bold';
  font-size: 1.8rem;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  line-height: 2.2rem;
  transition: 0.1s;
  margin-bottom: 6.1rem;
}

@media screen and (min-width: 43em) {
  /* line 17, ../../Documents/GitHub/dedukh/sass/sections/_footer.sass */
  .footer__link {
    margin-bottom: 7.1rem;
  }
}

@media screen and (min-width: 58.25em) {
  /* line 17, ../../Documents/GitHub/dedukh/sass/sections/_footer.sass */
  .footer__link {
    margin: 0 8rem;
  }
}

@media screen and (min-width: 75.87em) {
  /* line 17, ../../Documents/GitHub/dedukh/sass/sections/_footer.sass */
  .footer__link {
    font-size: 2.4rem;
    margin: 0 9rem;
  }
}

@media screen and (min-width: 89.5em) {
  /* line 17, ../../Documents/GitHub/dedukh/sass/sections/_footer.sass */
  .footer__link {
    margin: 0 10.1rem;
  }
}

/* line 36, ../../Documents/GitHub/dedukh/sass/sections/_footer.sass */
.footer__link:first-child {
  margin-left: 0;
}

/* line 38, ../../Documents/GitHub/dedukh/sass/sections/_footer.sass */
.footer__link:nth-child(3) {
  margin-right: 0;
}

/* line 40, ../../Documents/GitHub/dedukh/sass/sections/_footer.sass */
.footer__link:hover {
  text-decoration: none;
  color: #FFC700;
}

/* line 43, ../../Documents/GitHub/dedukh/sass/sections/_footer.sass */
.footer__link > a {
  margin: 0;
}

/* line 46, ../../Documents/GitHub/dedukh/sass/sections/_footer.sass */
.tip-target {
  position: relative;
}

/* line 49, ../../Documents/GitHub/dedukh/sass/sections/_footer.sass */
.tip {
  position: absolute;
  bottom: -31rem;
  left: -14rem;
  display: none;
}

@media screen and (min-width: 43em) {
  /* line 49, ../../Documents/GitHub/dedukh/sass/sections/_footer.sass */
  .tip {
    bottom: -34rem;
  }
}

@media screen and (min-width: 58.25em) {
  /* line 49, ../../Documents/GitHub/dedukh/sass/sections/_footer.sass */
  .tip {
    bottom: -12rem;
    left: -15rem;
  }
}

@media screen and (min-width: 85.25em) {
  /* line 49, ../../Documents/GitHub/dedukh/sass/sections/_footer.sass */
  .tip {
    bottom: -11rem;
    left: -31rem;
  }
}

/* line 61, ../../Documents/GitHub/dedukh/sass/sections/_footer.sass */
.tip:nth-child(2) {
  display: none;
}

@media screen and (min-width: 25.37em) {
  /* line 61, ../../Documents/GitHub/dedukh/sass/sections/_footer.sass */
  .tip:nth-child(2) {
    display: block;
  }
}

@media screen and (min-width: 85.25em) {
  /* line 61, ../../Documents/GitHub/dedukh/sass/sections/_footer.sass */
  .tip:nth-child(2) {
    display: none;
  }
}

/* line 67, ../../Documents/GitHub/dedukh/sass/sections/_footer.sass */
.tip:last-child {
  display: none;
}

@media screen and (min-width: 85.25em) {
  /* line 67, ../../Documents/GitHub/dedukh/sass/sections/_footer.sass */
  .tip:last-child {
    display: block;
  }
}

@media screen and (min-width: 24.75em) {
  /* line 49, ../../Documents/GitHub/dedukh/sass/sections/_footer.sass */
  .tip {
    display: block;
  }
}

/* line 78, ../../Documents/GitHub/dedukh/sass/style.sass */
.mb-0 {
  margin-bottom: 0;
}

/*# sourceMappingURL=style.css.map */