@font-face {
  src: url("../fonts/syne/Syne-Regular.otf");
  font-family: regular;
}

@font-face {
  src: url("../fonts/syne/Syne-Mono.otf");
  font-family: mono;
}

@font-face {
  src: url("../fonts/syne/Syne-Italic.otf");
  font-family: 'italic';
}

@font-face {
  src: url("../fonts/syne/Syne-Extra.otf");
  font-family: extra;
}

@font-face {
  src: url("../fonts/syne/Syne-Bold.otf");
  font-family: 'bold';
}

/* line 1, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
#principles {
  padding: 0 3.2rem;
}

/* line 4, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
#principles .section__title {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: min-content;
}

@media screen and (min-width: 32.5em) {
  /* line 4, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
  #principles .section__title {
    width: max-content;
  }
}

/* line 11, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
#principles .section__title::after {
  content: '';
  display: block;
  height: 8.4rem;
  width: 10.4rem;
  background: url("../../img/principles__title.png") center center;
  background-size: cover;
  margin-left: -2.1rem;
}

@media screen and (min-width: 32.5em) {
  /* line 11, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
  #principles .section__title::after {
    margin-left: 1.8rem;
  }
}

/* line 21, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
#principles .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 60em) {
  /* line 25, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
  #principles .container__row {
    display: flex;
    justify-content: space-around;
  }
}

/* line 29, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
#principles .container__item {
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

/* line 37, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
.principles__moto-tag {
  color: rgba(0, 0, 0, 0.1);
  font-family: 'bold';
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

/* line 43, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
.principles__moto {
  color: #000000;
  font-family: 'bold';
  font-weight: bold;
  font-size: 5rem;
  line-height: 8rem;
  max-width: 44.1rem;
  margin-bottom: 1.2rem;
}

/* line 51, ../../Documents/GitHub/dedukh/sass/sections/_principles.sass */
.principles__moto-descr {
  color: #000000;
  font-size: 1.6rem;
  line-height: 3.5rem;
  letter-spacing: 0.03rem;
  max-width: 41.3rem;
}

/* line 6, ../../Documents/GitHub/dedukh/sass/style.sass */
html {
  font-size: 62.5%;
}

/* line 8, ../../Documents/GitHub/dedukh/sass/style.sass */
body {
  font-family: regular;
}

/* line 10, ../../Documents/GitHub/dedukh/sass/style.sass */
p, h1 {
  margin: 0;
}

/* line 13, ../../Documents/GitHub/dedukh/sass/style.sass */
.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 144rem;
}

/* line 18, ../../Documents/GitHub/dedukh/sass/style.sass */
.section__title {
  font-family: 'bold';
  font-weight: bold;
  font-size: 6rem;
  line-height: 8rem;
  margin-bottom: 6rem;
}

/* line 25, ../../Documents/GitHub/dedukh/sass/style.sass */
.border {
  border: 1px solid black;
}

/* line 27, ../../Documents/GitHub/dedukh/sass/style.sass */
.border-r {
  border: 1px solid red;
}

/* line 30, ../../Documents/GitHub/dedukh/sass/style.sass */
.container {
  max-width: 144rem;
  align-self: center;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */