@font-face
	src: url('../fonts/syne/Syne-Regular.otf')
	font-family: regular

@font-face
	src: url('../fonts/syne/Syne-Mono.otf')
	font-family: mono

@font-face
	src: url('../fonts/syne/Syne-Italic.otf')
	font-family: 'italic'

@font-face
	src: url('../fonts/syne/Syne-Extra.otf')
	font-family: extra

@font-face
	src: url('../fonts/syne/Syne-Bold.otf')
	font-family: 'bold'



@mixin f-regular
	font-family: regular

@mixin f-mono
	font-family: mono

@mixin f-italic
	font-family: 'italic'

@mixin f-extra
	font-family: extra

@mixin f-bold
	font-family: 'bold'