$sm: 576px
$md: 768px
$lg: 992px
$xl: 1200px

@import "colors"

@import "fonts"

@import "elements/circled"

@import "elements/page"

@import "elements/page/next-proj"

.border
	border: 1px solid black
	&-r 
		border: 1px solid red

body
	+regular

a.link-w-icon
	display: flex
	&::after
		content: ''
		align-self: center
		width: 1.625rem
		height: 1.625rem
		transform: translate(1rem)
		background: url('../img/link-icon.svg')

#topbar
	z-index: 19
.topbar
	padding-top: 2.75rem
	display: flex
	justify-content: space-between
	position: absolute
	top: 0
	left: 0
	width: 100%
	&__ic
		cursor: pointer
		&--close
			display: none
	&__icons
		z-index: 2
	&__menu
		position: absolute
		z-index: 1
		top: -500%
		left: 0
		width: 100%
		padding: 6rem 0rem 3.87rem 0rem
		display: flex
		flex-direction: column
		align-items: center
		background: rgba(224, 224, 224, 0.1)
		backdrop-filter: blur(11px)
		transition: top 0.3s ease-out

		&-item
			+font-wide
			color: $blue
			text-transform: capitalize
			font-size: 1.5rem
			margin-bottom: 2.63rem
			&:hover
				text-decoration: none


h1.title
	+font-wide
	font-style: normal
	font-weight: 500
	color: $blue
	display: flex
	align-items: center
	&:after 
		content: ''

.container
	padding: 0 3rem
	@media screen and (min-width: $xl)
		max-width: 1550px

header
	z-index: 1
	@media screen and (max-width: 876px)
		font-size: 14px
	@media screen and (max-width: 805px)
		font-size: 13px

	.col //the one with the text
		display: flex
		flex-direction: column
		justify-content: flex-end
		z-index: 2
		@media screen and (max-width: $xl)
			padding-left: 3em
			padding-right: 1em

		&:last-child // column with the burger image
			justify-content: flex-start
			z-index: 1
	a 
		width: max-content
		font-size: 1.5em
		color: $blue
		text-decoration: underline

	.checkout
		width: max-content 
		position: absolute
		top: 2em
	.wrap
		position: relative

	h1.title
		font-size: 5.75rem
		margin-bottom: 2.93rem
		&:after 
			background: url('../img/head.svg') center center
			min-width: 2em
			min-height: 2em
	p 
		max-width: 800px
		font-size: 1.375em
		line-height: 40px

#chat
	height: 8.75rem
	position: relative
	margin-top: 6.25rem
	z-index: 2

.chat-bar
	min-height: 100%
	@media screen and (max-width: 985px)
		min-height: 75%
	width: 50%
	min-width: 400px
	position: absolute
	bottom: 0
	right: 0
	background: $blue
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-content: flex-start
	transition: 0.3s
	color: white
	z-index: 1
	&:hover
		background: $blue
	&--active
		background: $blue
	&__open-btn
		width: 100%
		height: 100%
		position: absolute
		display: flex
		align-items: center
		cursor: pointer
		z-index: 2
	&__content-wrap
		display: none
		padding: 2.6rem 5.38rem 3.25rem 5.38rem
		@media screen and (max-width: 800px)
			padding: 2.5rem 2.5rem 3rem 3.5rem
	&__icon
		margin-left: 5.31rem
		width: max-content
		position: relative
	&__icon-close
		align-self: flex-start
		margin-top: 3.31rem
		cursor: pointer
	&__top
		display: flex
		justify-content: space-between
		@media screen and (max-width: 1100px)
			flex-direction: column

	&__title
		+font-wide
		font-size: 1.5rem
		white-space: nowrap
		margin-right: 4rem
	&__descr
		color: rgba(255, 255, 255, 0.5)
	&__input
		color: white
		border: none
		border-bottom: 2px solid #3C56FF
		line-height: 2.5rem
		background: transparent
		font-size: 1rem
		width: 85%
		max-width: 555px
		padding-bottom: 0.4rem
		margin-top: 4.05rem
		&:focus
			outline: none
		&::placeholder 
			color: #f1f1f1



#portfolio
	.col 
		display: flex
		justify-content: center
	.proj
		display: block
		width: 32.9rem
		height: 22.18rem
		background: center center
		background-size: cover
		box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08)
		border-radius: 3px
		position: relative
		&:hover .popup
			opacity: 1

		.popup
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			display: flex
			flex-direction: column
			justify-content: flex-end
			color: white
			padding: 1.75rem 2.68rem
			backdrop-filter: blur(10px)
			transition: 0.4s
			opacity: 0

			&__title
				font-size: 1.5rem
				line-height: 2.5rem
				margin-bottom: 1.6rem
				+font-wide

			&__text
				font-size: 1.4rem
				line-height: 2.5rem

			&__link
				color: white
				width: max-content
				align-self: flex-end
				font-size: 1.2rem
				display: flex

				&:hover
					text-decoration: underline
				&::after
					content: ''
					align-self: center
					width: 1.625rem
					height: 1.625rem
					transform: translate(1rem)
					background: url('../img/link-icon.svg')

			&--tdark, &--tdark .popup-link
				color: $black


#mailing
	color: $blue
	margin: 7rem 0
	.col-12
		display: flex
		position: relative
		flex-direction: column
		align-items: center
		text-align: center
		border: 1rem solid transparent
		border-image: url('../img/square.svg') 30 round
		border-image-outset: 0.6rem
		box-shadow: 0 0 0 2px $blue
		padding: 
			top: 6.13rem
			bottom: 6.13rem
		h1
			font-weight: 500
			+medium
			font-size: 3.13rem
			line-height: 4.38rem
			margin-bottom: 2.38rem
	.mouse-icon
		position: absolute
		top: -10%
		left: 0
	.email-wrap
		display: flex
		.label, .email
			font-size: 1.5rem
			line-height: 1.5rem
			padding: 0 1.75rem
			margin: 0
			height: 2.69rem
			display: flex
			align-items: center

		.label
			background: $blue
			color: white
		.email
			background: $gray
			color: $blue
			display: flex
			position: relative
			margin-left: 2.5rem
			padding-left: 3.3rem
			&::before
				content: ''
				position: absolute
				top: 0
				left: 0
				display: block
				height: 2.69rem
				width: 2.69rem
				background: $blue url('../img/linked-icon.svg')
				background-position: center center