.navbar
	position: fixed
	width: 100%
	height: 5rem
	top: 0
	left: 0
	background: white
	z-index: 100
	@media screen and (min-width: 81.25em)
		height: 5rem
	&__wrap
		position: relative
		width: 100%
		height: 100%

	&__bar
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		overflow: hidden
		&--main
			z-index: 2
			display: flex
			align-items: center
			justify-content: space-between
			background: transparent

		&--menu
			z-index: 1
			background: white
			border-bottom: 2px solid black
			height: 5rem
			transition: 0.8s cubic-bezier(.49,.9,.56,.94)
			transition-delay: 0.3s
			@media screen and (min-width: 53.125em)
				height: 5rem
	&__logo
		margin-left: 1.5rem
		@media screen and (min-width: 56.25em)
			margin-left: 2.5rem
		@media screen and (min-width: 81.25em)
			margin-left: 6rem

	&__btn
		position: absolute
		&--menu-ic
			opacity: 1
		&--close-ic
			opacity: 0

		&--menu-ic, &--close-ic
			transition: 0.3s
			@media screen and (min-width: 53.125em)
				display: none

		&--back, &--open
			display: none
			color: #191D2F
			transition: 0.3s
			@media screen and (min-width: 53.125em)
				display: block
				+f-bold
				font-weight: bold
				font-size: 1.9rem
				line-height: 4rem
				opacity: 0
			@media screen and (min-width: 81.25em)
				font-size: 1.9rem
				font-size: 2.4rem
		&--open
			opacity: 1
	&__btns
		width: 8.5rem
		border-left: 2px solid black
		display: flex
		justify-content: center
		align-items: center
		transition: 0.4s
		cursor: pointer
		@media screen and (min-width: 53.125em)
			width: 12.4rem
		@media screen and (min-width: 81.25em)
			width: 18.1rem



	&__menu
		display: flex
		align-items: center
		flex-direction: column

	&__link
		+f-bold
		font-size: 1.8rem
		line-height: 2.2rem
		letter-spacing: 0.03rem
		text-transform: uppercase
		position: absolute
		text-decoration: none
		color: $black
		opacity: 0
		transition: opacity 0.2s
		@media screen and (min-width: 53.125em)
			font-size: 1.9rem
		@media screen and (min-width: 81.25em)
			font-size: 2.4rem
			line-height: 4rem
		&:nth-child(1)
			top: 7.8rem
			@media screen and (min-width: 53.125em)
				top: 8.9rem
			@media screen and (min-width: 81.25em)
				top: 5.8rem
		&:nth-child(2)
			top: 15rem
			@media screen and (min-width: 53.125em)
				top: 16rem
			@media screen and (min-width: 81.25em)
				top: 14.3rem
		&:nth-child(3)
			top: 22.2rem
			@media screen and (min-width: 53.125em)
				top: 23.2rem
			@media screen and (min-width: 81.25em)
				top: 22.8rem

		&.open-anim
			animation: dropdown 1s
			animation-fill-mode: forwards
			&:nth-child(1)
				animation-delay: 0.5s
			&:nth-child(2)
				animation-delay: 0.4s
			&:nth-child(3)
				animation-delay: 0.3s

		&.close-anim
			animation: dropup 0.3s
			animation-fill-mode: forwards
			opacity: 1
			&:nth-child(1)
				animation-delay: 0.4s
			&:nth-child(2)
				animation-delay: 0.3s
			&:nth-child(3)
				animation-delay: 0.2s

	@keyframes dropdown 
		0%
			transform: translateY(-700px)
		45%
			opacity: 0
		100%
			transform: none
			opacity: 1

	@keyframes dropup
		from 
			opacity: 1
		50%
			opacity: 0
		to
			transform: translateY(-50px)
			opacity: 0

	&.open
		.navbar 
			&__btns
				border-left: 0.2rem solid transparent
			&__btn--menu-ic, &__btn--open
				opacity: 0
			&__btn--close-ic, &__btn--back
				opacity: 1
			&__bar--menu
				height: 30rem
				transition-delay: none



