
.page
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 20
	display: none
	overflow: auto
	&__topbar
		z-index: 21
		padding: 0 7rem
		.topbar__ic--close
			display: block

	&__section 
		padding: 0 7rem
		background: white

		&-header
			background: transparent
			backdrop-filter: blur(5rem)
			padding-top: 18.5rem
			height: 72.4rem
			z-index: 1

		&-main
			padding: 0
			z-index: 20
			position: relative
			img
				width: 100%

		&-next-proj
			padding:
				top: 13rem
				bottom: 13rem

	&__title
		font-size: 7.2rem
		font-weight: 500
		line-height: 7.2rem
		color: $blue 
		+font-wide
		margin-bottom: 5.2rem

	&__descr
		font-size: 2.2rem
		line-height: 4rem

	&__info
		margin-top: 9.2rem
		padding: 0

	.info

		&__item-title
			font-size: 2.4rem
			+font-wide
			color: $blue 
			line-height: 4rem
			margin-bottom: .8rem
			text-transform: uppercase
			font-weight: 500

		&__item-text
			font-size: 2.2rem
			color: $gray-2
			line-height: 4rem
			text-transform: capitalize
			margin: 0
		a.info__item-text
			text-decoration: underline
			text-transform: lowercase

		&__link 
			display: flex
			align-items: center
			justify-content: flex-end
			a.link-w-icon
				color: $gray-2
				font-size: 1.6rem
				line-height: 4rem
				text-transform: uppercase
				letter-spacing: 0.05rem
				font-variant: small-caps
				&::after
					background-image: url('../img/link-icon--black.svg')
					margin-left: 1.4rem
				&:hover
					text-decoration: none
		&__circled
			width: auto
			height: auto
			display: flex
			align-items: center
			justify-content: center
			.circled__circle-area
				height: 6.8rem
				width: 6.8rem
				margin-left: -2rem