#chat
	height: 14.1rem
	position: relative
	margin-top: 9rem
	z-index: 2
	display: flex
	align-items: center

.chat__wraper
	position: fixed
	bottom: 0
	left: 0
	width: 100%
	height: 14.1rem
	display: flex
	align-items: center
	padding: 0 7rem
	max-width: 155rem
	@media screen and (min-width: $xl)
		left: calc((100vw - 155rem)/2)

	&--active



.chat-bar
	min-height: 100%
	@media screen and (max-width: 985px)
		min-height: 75%
	width: 50%
	min-width: 40rem
	position: absolute
	bottom: 0
	right: 0
	background: $blue
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-content: flex-start
	transition: 0.3s
	color: white
	z-index: 1
	&:hover
		background: $blue
	&--active
		background: $blue
	&__open-btn
		width: 100%
		height: 100%
		position: absolute
		display: flex
		align-items: center
		cursor: pointer
		z-index: 2
	&__content-wrap
		display: none
		padding: 4.2rem 8.6rem 5.2rem
	&__icon
		width: max-content
		position: relative
		margin-left: 7.8rem
	&__icon-close
		align-self: flex-start
		margin-top: 5.3rem
		cursor: pointer
	&__top
		display: flex
		justify-content: space-between

	&__title
		+font-wide
		font-size: 2.4rem
		white-space: nowrap
		margin-right: 9.8rem
		margin-bottom: 0
	&__descr
		color: rgba(255, 255, 255, 0.5)
		font-size: 1.6rem
	&__input
		color: white
		border: none
		border-bottom: 2px solid #3C56FF
		line-height: 4rem
		background: transparent
		font-size: 1.6rem
		width: 85%
		max-width: 55.5rem
		padding-bottom: 0.4rem
		margin-top: 7rem
		&:focus
			outline: none
		&::placeholder 
			color: rgba(255, 255, 255, 0.5)


.music
	
