.chat 
	height: 14.1rem
	margin-top: 9rem
	position: relative
	&__open-btn-wrap
		height: 2.6rem
		width: 2.6rem
		cursor: pointer
		display: flex
		align-items: center
		position: relative
		transition: width 1.3s ease-in-out, height 1s
		overflow: hidden
	&__open-btn
		position: absolute
		left: 0
		transition: left 0.9s ease-in
		&.blue, &.white
			transition: 0.9s
		&.white
			opacity: 0
		&.blue 
			opacity: 1
	&__icons-wrap, &__chatbar-wrap
		position: fixed
		bottom: 0
		left: 0
		width: 100%
		transition: bottom 0.4s ease-out
	&__icons-wrap
		width: 100%
		height: 14.1rem
		display: flex
		justify-content: space-between
		align-items: center
		padding: 0 7rem
		z-index: 31
		height: 14.1rem

	&__icon, &__icon-music
		cursor: pointer
		transition: 0.7s

	&__chatbar-wrap
		display: flex
		justify-content: flex-end
		z-index: 30
		transition: bottom 0.3s ease-in-out
		bottom: -14.1rem
		&.show
			bottom: 0
			z-index: 32
	&__chatbar
		width: 50%

.chatbar
	background: $blue
	transition: height 0.5s ease-in-out
	height: 14.1rem
	color: white
	overflow: hidden
	position: relative
	display: flex
	align-items: center
	&.open
		height: 31.8rem
	&__title-section
		display: flex
		justify-content: space-between
		align-items: center
	&__title
		+font-wide
		font-style: normal
		font-weight: 500
		font-size: 2.4rem
		line-height: 2.4rem
	&__tip
		+regular
		font-style: normal
		font-weight: normal
		font-size: 1.6rem
		line-height: 2rem
		color: rgba(255, 255, 255, 0.5)
	&__text-field
		margin-top: 7rem
		+regular
		font-size: 1.6rem
		padding: 1.2rem 0
		border: none
		border-bottom: 2px solid #3C56FF
		background: transparent
		color: white
		width: 100%
		&:focus
			outline: none
		&::placeholder
			color: rgba(255, 255, 255, 0.5)
			+regular
	&__close-btn
		position: absolute
		left: 8.6rem
		bottom: 5.2rem
		z-index: 2
		cursor: pointer
	
	&__main-content, &__feedback-content
		position: absolute
		width: 100%
		height: 100%
		padding: 4.2rem 8.6rem 5.2rem
		z-index: 1
		transition: 0.7s
	&__main-content
		top: 100%
		left: 0
		&.show
			top: 0
	&__feedback-content
		top: 0
		right: -100%
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		&.show
			right: 0

		.chatbar__title
			margin-bottom: 1.7rem

.chat.static
	.chat
		&__icons-wrap, &__chatbar-wrap
			position: absolute
		&__chatbar-wrap
			bottom: 0
		&__open-btn-wrap
			height: 14.1rem
			width: 50%
			cursor: pointer
			display: flex
			align-items: center
			position: relative
		&__open-btn
			position: absolute
			left: 8.5rem
			&.white
				opacity: 1
			&.blue 
				opacity: 0
.chat.hide
	.chat
		&__icons-wrap, &__chatbar-wrap
			bottom: -100%