#header
	padding-top: 0
	padding-bottom: 14.1rem
	@media screen and (orientation: landscape) and (max-height: 37em)
		min-height: 100vh
	@media screen and (min-width: 43.75em)
		padding: 0 4.2rem 8.1rem
	@media screen and (min-width: 48.75em)
		padding: 0 5.5rem 6.1rem
	@media screen and (min-width: 56.25em)
		padding: 0 5.5rem 6.1rem
	@media screen and (min-width: 84.37em)
		padding: 0 18.1rem 17rem 7rem


	.container
		&__row
			display: flex
			max-width: 77rem
			@media screen and (min-width: 43.75em)
				justify-content: space-between
			@media screen and (min-width: 52.25em)
				max-width: 82.9rem
				width: 100%
			@media screen and (min-width: 73.12em)
				max-width: 101.9rem
			@media screen and (min-width: 84.37em)
				justify-content: space-between
				max-width: none
		&__item
			width: auto
			&:first-child
				flex: 3 0
				@media screen and (min-width: 43.75em)
					margin-right: 8rem
				@media screen and (min-width: 52.25em)
					max-width: 37.8rem
				@media screen and (min-width: 53.25em)
					margin-right: 14rem
				@media screen and (min-width: 73.12em)
					max-width: 50.8rem
				@media screen and (min-width: 84.37em)
					max-width: none

			&:last-child
				flex: 2 0
				@media screen and (min-width: 52.25em)
					max-width: 25.2rem
				@media screen and (min-width: 73.12em)
					max-width: 29.2rem
				@media screen and (min-width: 84.37em)
					max-width: 33.17rem

	.header
		&__title
			+f-extra
			font-weight: 73.120
			font-size: 4rem
			line-height: 4rem
			text-decoration-line: underline
			color: $blue
			margin-bottom: 3.2rem
			margin-top: 17.1rem
			@media screen and (min-width: 28.125em)
				font-size: 4.6rem
				line-height: 4.6rem
				margin-bottom: 3.68rem
			@media screen and (min-width: 72.5em)
				font-size: 4.6rem
				line-height: 4.6rem
				margin-bottom: 3.68rem
			@media screen and (min-width: 73.12em)
				font-size: 5.6rem
				line-height: 5.566rem
				margin-bottom: 4.089rem
				margin-top: 23.1rem
			@media screen and (min-width: 84.37em)
				font-size: 8rem
				line-height: 9.6rem
				margin-bottom: 6.4rem
				margin-top: 27.8rem

		&__text
			font-size: 1.6rem
			line-height: 3.2rem
			letter-spacing: 0.01rem
			margin-bottom: 2.4rem
			max-width: 31.1rem
			@media screen and (min-width: 28.125em)
				font-size: 1.84rem
				line-height: 3.68rem
				margin-bottom: 2.76rem
				max-width: 35.765rem
			@media screen and (min-width: 72.5em)
				font-size: 1.84rem
				line-height: 3.68rem
				margin-bottom: 2.76rem
				max-width: 35.765rem
			@media screen and (min-width: 73.12em)
				font-size: 2.23rem
				line-height: 4.45rem
				margin-bottom: 3.34rem
				max-width: none
			@media screen and (min-width: 84.37em)
				font-size: 2.4rem
				line-height: 4rem
				margin-bottom: 2.6rem
				max-width: 55.7rem

		&__link
			color: $blue
			font-size: 1.6rem
			line-height: 1.9rem
			text-decoration-line: underline
			@media screen and (min-width: 28.125em)
				font-size: 1.84rem
				line-height: 2.185rem
			@media screen and (min-width: 72.5em)
				font-size: 1.84rem
				line-height: 2.185rem
			@media screen and (min-width: 73.12em)
				font-size: 2.23rem
				line-height: 2.64rem
			@media screen and (min-width: 84.37em)
				font-size: 2.4rem
				line-height: 4rem
			
		&__tip-target
			display: block
			.tip
				top: 0rem
				left: 8rem
				@media screen and (min-width: 28.125em)
					transform: scale(1.15)
					top: 1rem
					left: 11rem
				@media screen and (min-width: 73.12em)
					transform: scale(1.36)
					top: 2rem
					left: 16rem
				@media screen and (min-width: 84.37em)
					width: 19.1rem
					height: 13.3rem
					left: 15rem

		&__burger
			display: none
			@media screen and (min-width: 43.75em)
				display: block
			 img 
			 	width: 100%

