#portfolio
	display: none

	.section

	.container
		border: 1px solid pink
		&__row
			border: 1px solid red

		&__item
			border: 1px solid black

.project
	position: relative
	width: 31rem
	height: 20.9rem
	&__cover
		position: absolute
		left: 0
		top: 0
		height: 100%
		width: 100%
		z-index: 1
	&__popup-layer
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 100%
		background: $blue 
		display: flex
		justify-content: center
		align-items: center
		z-index: 2

