#principles 
	padding: 6.2rem 3.4rem
	.section__title
		width: min-content
		&::after
			content: ''
			display: block
			width: 7.4rem
			height: 8.4rem
			background: url('../../img/principles__title.png') center center
			background-size: cover
			position: absolute
			right: -8.5rem

.principle 
	margin-bottom: 6rem
	&__tag, &__moto	
		+f-bold
		font-weight: bold
	&__tag
		font-size: 2.4rem
		color: $gray
		margin-bottom: 1.3rem
	&__moto
		font-size: 5rem
		margin-bottom: 1.2rem
	&__descr
		font-size: 16px
		line-height: 35px
		letter-spacing: 0.03em