#principles
	padding: 0 3.2rem
	.section 
		&__title
			display: flex
			align-items: flex-end
			justify-content: flex-start
			width: min-content
			@media screen and (min-width: 32.5em)
				width: max-content
			&::after
				content: ''
				display: block
				height: 8.4rem
				width: 10.4rem
				background: url('../../img/principles__title.png') center center
				background-size: cover
				margin-left: -2.1rem
				@media screen and (min-width: 32.5em)
					margin-left: 1.8rem
	.container
		display: flex
		flex-direction: column
		align-items: center
		&__row
			@media screen and (min-width: 60em)
				display: flex
				justify-content: space-around
		&__item
			margin-bottom: 6rem
			display: flex
			flex-direction: column
			align-content: flex-start


.principles
	&__moto-tag
		color: $gray
		+f-bold
		font-weight: bold
		font-size: 2.4rem
		margin-bottom: 1rem
	&__moto
		color: $black
		+f-bold
		font-weight: bold
		font-size: 5rem
		line-height: 8rem
		max-width: 44.1rem
		margin-bottom: 1.2rem
	&__moto-descr
		color: $black
		font-size: 1.6rem
		line-height: 3.5rem
		letter-spacing: 0.03rem
		max-width: 41.3rem